.container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}
.tab {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
.tab-active {
  background: cornflowerblue;
  color: white;
  border: 0;
}

.content {
  display: none;
  background: cornflowerblue;
  padding: 25px;
  margin-top: 20px;
}
.active-content {
  display: block;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.comments-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pages {
  display: flex;
  gap: 10px;
}
.page {
  border-radius: 50%;
  background: grey;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.page-active {
  background: rgb(4, 99, 4);
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid red;
  overflow: hidden;
}
.clock li {
  list-style-type: none;
  position: absolute;
}
.first {
  top: 10px;
  left: 50%;
  margin: calc(-16px / 2);
}
.third {
  bottom: 10px;
  left: 50%;
  margin: calc(-16px / 2);
}
.second {
  right: 15px;
  top: 50%;
  margin: calc(-18px / 2);
}
.fourth {
  left: 15px;
  top: 50%;
  margin: calc(-18px / 2);
}
.line {
  position: absolute;
  width: 95px;
  height: 3px;
  background: black;
  left: 50%;
  top: 50%;
  transform-origin: 0;
}

.pizza {
  text-align: center;
}
.pizza-menu {
  border: 10px dotted black;
  height: 200px;

  overflow-y: scroll;
}

.travel {
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.travel-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.travel-top h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}
.travel-top__btn {
  display: flex;
  flex-direction: column;
}
.travel-top__btn button {
  background: 0;
  border: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.travel-bottom {
  height: 300px;
  background: white;
  padding: 10px;
  overflow-y: scroll;
  display: block;
}
.travel-bottom__item img {
  border-radius: 10px;
  width: 100%;
  display: block;
  height: 140px;
}
.travel-bottom__item {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;

}
.travel-bottom__item:nth-last-child(1) {
  margin: 0;
}
.travel-bottom__item span {
  position: absolute;
  bottom: 30px;
  background: white;
  width: 90%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  left: 5%;
  text-align: center;
  color: black;
  border-radius: 5px;
  bottom: 10px;
}

.box {
  position: absolute;
  left: 50%;
  margin-left: calc(-500px / 2);
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.box-top {
  display: flex;
  border-bottom: 1px solid rgb(214, 214, 214);
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.box-top span {
  cursor: pointer;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px 10px;
  color: rgb(211, 211, 211);
  border-radius: 5px;
}
.box-top span:hover {
  color: black;
  border-color: black;
}

.box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  overflow-y: scroll;
}
.box-content__item {
  width: 250px;
  height: 150px;
  position: relative;
}
.box-content__item span {
  position: absolute;
  bottom: 30px;
  background: white;
  width: 90%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  left: 5%;
  text-align: center;
  color: black;
  border-radius: 5px;
  bottom: 10px;
}
.box-content__item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.math {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* color: white; */
}
.math span {
  font-size: 50px;
}

.info-visible {
  display: none;
}
.info {
  display: block;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  color: white;
  font-size: 12px;
}

/* .second-window {
  position: absolute;
  width: 200px;
  height: 200px;
  background: coral;
  border-radius: 10px;
  box-shadow: 0 0 10px coral;
  top: 50%;
  margin: calc(-200px / 2);
  animation-name: scale;
  animation-duration: 2s;
}
.third-window {
  position: absolute;
  width: 100px;
  height: 100px;
  background: crimson;
  border-radius: 10px;
  box-shadow: 0 0 10px crimson;
  top: 50%;
  margin: calc(-100px / 2);
  animation-name: scale;
  animation-duration: 2s;
} */

.first-window {
  position: absolute;
  width: 300px;
  height: 300px;
  background: greenyellow;
  border-radius: 10px;
  box-shadow: 0 0 10px greenyellow;
  top: 50%;
  margin: calc(-300px / 2);
  animation-name: scale;
  animation-duration: 2s;
}

@keyframes scale {
  0% {
    left: -50%;
    transform: rotate(360deg);
  }
  100% {
    left: 50%;
    transform: rotate(0deg);
  }
}

.pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pizza-content {
  border: 5px dotted black;
  height: 150px;
  overflow-y: scroll;
}

.pizza-content ul {
  margin: 0;
  padding: 0;
}

.pizza-content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 15px 0;
  padding: 0px 10px;
}

.pizza-content ul li img {
  width: 100px;
}

.pizza-img {
  width: 30px;
  height: 30px;
}
